<div class="frame frame-red">
      <div class="frame-title caution">
        ご注意ください
      </div>
      <p>
        経営方針の変更により、当面の間カウンセリングを中止いたします。</br>
        ご相談ご希望の方は、
        <%= link_to contacts_path, data: {"turbolinks" => false} do %>
        <b>「お問い合わせ」</b>
        <% end %>
        よりご連絡ください。
      </p>
</div>