<%#
<div class="container">
  <div class="row">
    <div class="col-lg-10 offset-lg-1 mt-3" >

      <%= form_for(@map) do |f| %>
      <%# <h4>住所</h4>
       <%= f.text_field :map_address, placeholder: "住所" %>
      <%# <%= f.submit "登録する" %>
     <%# <% end %>
