<!--<div class="container center-block">-->
<!--  <div class="row">-->
<!--    <div class="text-box col-lg-12">-->
<%#<%= link_to "国の編集", admin_countries_path, data: {"turbolinks" => false}, class:"footerbuttontext" %>
<%#<%= link_to "語学学校の編集", admin_schools_path, data: {"turbolinks" => false}, class:"footerbuttontext" %>
<%#<%= link_to "パンフレットの編集", admin_brochures_path, data: {"turbolinks" => false}, class:"footerbuttontext" %>
<%#<%= link_to "お客様一覧", admin_guests_path, data: {"turbolinks" => false}, class:"footerbuttontext" %>
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
