<div class="container center-block">
  <div class="row pb-5">
    <div class="col-lg-12">
        <h3 class="thank-text"><center>お問い合わせいただき誠にありがとうございます。</br>
        回答まで今しばらくお待ちください。</center></h3>
    </div>
  </div>
    <%= render 'guest/homes/linkbuttom' %>
    <%= render 'guest/homes/company' %>

</div>