<div class="container">

  <div class="row">
    <div class="offset-sm-2 col-sm-3 mt-5">
      <img src="/assets/noimage.jpg">
    </div>
    <div class="col-sm-3 mt-2">
      <p class="aiueo">
      aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
      </p>
    </div>
  </div>
  </div>
  <%= render 'guest/homes/linkbuttom' %>
<%= render 'guest/homes/company' %>
</div>




