// Place all the styles related to the guest::brochures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*=====================================
 タイトル
=====================================*/

.brochureh1 {
  color: #364e96;/*文字色*/
  padding: 0.5em 0;/*上下の余白*/
  border-top: solid 6px #364e96;/*上線*/
  border-bottom: solid 6px #364e96;/*下線*/
}

/*=====================================
 カード
=====================================*/

.img-thumbnail {
  width: 318px;
  height: 300px;
  text-align : center;
  margin: auto ;
  padding-top: 50px;
}

.card {
  table-layout: fixed;
}

.card-body {
  table-layout: fixed;
}

.card-title {
  white-space: nowrap; //改行禁止
  overflow: hidden; //はみ出たの隠す
  text-overflow: ellipsis;//はみ出た分「...」

}

.card-text {
  white-space: nowrap; //改行禁止
  overflow: hidden; //はみ出たの隠す
  text-overflow: ellipsis;//はみ出た分「...」
}
