// Place all the styles related to the guest::contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*=====================================
 index
=====================================*/

.title {
  position: relative;
  padding: 0.6em;
  background: #fcebb6;
}

.title:after {
  position: absolute;
  content: '';
  top: 100%;
  left: 30px;
  border: 15px solid transparent;
  border-top: 15px solid #fcebb6;
  width: 0;
  height: 0;
}



.text {
  font-weight:  bold;
  line-height: 30px;
  // 行間
}

.underline {
  border-bottom: solid 2px red;
}

.contactimage {
  width: 100%;
  height: 400px;
  border: solid;
  border-color: #a64942;
  border-radius: 8px;
  margin-top: 85px;
}

/*=====================================
 new h2のタイトル
=====================================*/

.cp_h2contacttitlenew {
	padding: .3em;
	border: dashed 1px #ffffff;
	background: #80DEEA;
	box-shadow: 0px 0px 0px 5px #80DEEA;
	color: #ffffff;
	text-align: center;
	margin-left: 100px;
	margin-bottom: 100px;
}

.contacttextnew {
	text-align: center;
	margin-left: 100px;
}


/*=====================================
 confirm
=====================================*/

.h3confirm {
  border-bottom: solid 3px black;
}


.thank-text{
   height: 300px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 40px;
   margin-left: 75px;
   line-height: 150%;
}