// Place all the styles related to the guest::guests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*=====================================
 edit h2のタイトル
=====================================*/

.cp_h2guesttitleedit {
	padding: .3em;
	border: dashed 1px #ffffff;
	background: #80DEEA;
	box-shadow: 0px 0px 0px 5px #80DEEA;
	color: #ffffff;
	text-align: center;
	margin-left: 30px;
	margin-bottom: 60px;
}