// Place all the styles related to the guest::homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*=====================================
 top
=====================================*/

// 画像
.topimage {
  height: 460px;
  background-image: image-url("topimage.jpg");
  background-size: cover;
  // border: outset 5px #900;
  // text-align: center;
  // margin-right : auto;
}

// 見出し
.toptext {
  height: 150px;
  line-height: 30px;
  color: black;
  margin: 0 auto;
  padding-top: 50px;
  text-shadow: 1px 2px 3px #808080;
  // 以下h1デザイン
    display: inline-block;
    position: relative;
    margin: 1em auto;
    height: 50px;
    line-height: 50px;
    text-align: center;
    padding: 0 15px;
    font-size: 30px;
    font-weight: bold;
    color: #FFF;
    box-sizing: border-box;
    background-color: #F09E32;
    background-image: radial-gradient(#EE8E15 10%, transparent 20% ), radial-gradient(#EE8E15 10%, transparent 20% );
    background-position: 0 0, 10px 10px;
    background-size: 20px 20px;
    width: 100%;
    border-radius: 10px;/*角の丸み*/
}


/*=====================================
 about
=====================================*/

.abouttext {
  text-align:center;
  font-size: 30px;
  height: 50px;
  color: white;
  margin: 0 auto;
  padding-top: 30px;
  text-shadow: 1px 2px 3px #808080;
}

.aboutimage {
  margin-left: 100px;
  height: 600px;
  // width: 300;
  background-image: image-url('aboutimage.jpg');
  background-size: cover;
  border: outset 5px #900;
}

/*=====================================
 render linkbottom company
=====================================*/


// 語学留学パンフレットQ＆Aボタン

.footerbutton {
  font-size: 25px;
  margin-left: 130px;
  // line-height: 30px;
  // width: 100%;
}

.footerbuttontext {
    color: #F79D2D;
    padding: 5px;
    // margin: 2em 0;
    font-weight: bold;
    color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
}

// 会社概要
.company {
  color: black;
  // margin: 0 auto;
  // border: solid;
  text-align: center;
}

.companyname {
  padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
  color: #494949;/*文字色*/
  background: #f4f4f4;/*背景色*/
  border-left: solid 5px #7db4e6;/*左線*/
  border-bottom: solid 3px #d7d7d7;/*下線*/
}

.companytext {
  // border: solid;
  text-shadow: 1px 2px 3px #808080;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
  margin-right: 50px;
}

.googleMap {
  margin-right: 50px;
}