// Place all the styles related to the guest::homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.topimage {
  height: 460px;
  background-image: image-url("topimage.jpg");
  background-size: cover;
  // border: outset 5px #900;
  // text-align: center;
  // margin-right : auto;
}

.toptext {
  height: 150px;
  line-height: 30px;
  color: black;
  margin: 0 auto;
  padding-top: 50px;
  text-shadow: 1px 2px 3px #808080;
  // 以下h1デザイン
    display: inline-block;
    position: relative;
    margin: 1em auto;
    height: 50px;
    line-height: 50px;
    text-align: center;
    padding: 0 15px;
    font-size: 30px;
    font-weight: bold;
    color: #FFF;
    box-sizing: border-box;
    background-color: #F09E32;
    background-image: radial-gradient(#EE8E15 10%, transparent 20% ), radial-gradient(#EE8E15 10%, transparent 20% );
    background-position: 0 0, 10px 10px;
    background-size: 20px 20px;
    width: 100%;
}

.button {
  font-size: 30px;
  height: 150px;
  line-height: 30px;
  width: 600px;
  color: black;
  margin: 30px;
  padding-top: 50px;
  text-shadow: 1px 2px 3px #808080;
}

.company {
  font-size: 20px;
  height: 150px;
  line-height: 30px;
  width: 600px;
  color: black;
  margin: 0 auto;
  padding-top: 50px;
  text-shadow: 1px 2px 3px #808080;
}

.abouttext {
  font-size: 25px;
  height: 150px;
  line-height: 30px;
  width: 420px;
  color: white;
  margin: 0 auto;
  padding-top: 80px;
  text-shadow: 1px 2px 3px #808080;
}

.aboutimage {
  height: 350px;
  width: 500px;
  background-image: image-url('aboutimage.jpg');
  background-size: cover;
  border: outset 5px #900;
}

.footerbutton {
  margin-left: 230px;
}

.btn btn-primary {
  font-size: 20px;
  width: 30px;
  height: 30px;
}


.googleMap {
  height: 300px;
  width: 450px;
}