<div class="col-lg-8 offset-lg-2">
  <div class="company">

  　<h3 class="companyname">
  　　株式会社 留学情報センター東京本社
  　</h3>
  　<p class="companytext">
  　　電話番号：042-451-4565</br>
  　　所在地：東京都豊島区東池袋4-4-4 エキマエビル4階
  　</p>

  　<iframe class="googleMap" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3238.8330736372836!2d139.71232521561294!3d35.73032363488464!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188d0735848dbd%3A0x2fc345055882953c!2z44ixSlRC44Ks44Kk44Ki44Os44OD44KvIOWcsOeQg-WAtualvemDqOS6i-alremDqA!5e0!3m2!1sja!2sjp!4v1621071491774!5m2!1sja!2sjp" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </iframe>
  </div>
</div>