<div class="row">
    <p class="button">
    <%= link_to "語学留学", countries_path %>　<!--国一覧に遷移-->
    <%= link_to "パンフレット", brochures_path %>　<!--パンフレット一覧に遷移-->
    <%= link_to "よくあるQ＆A", faqs_path %>　<!--よくあるQ＆Aに遷移-->
　　</p>
  </div>