    <div class="col-lg-11 mt-5">
      <p class="footerbutton">
        <%= link_to "語学留学検索", countries_path, data: {"turbolinks" => false}, class:"footerbuttontext" %>　<!--国一覧に遷移-->
        <%= link_to "パンフレット", brochures_path, data: {"turbolinks" => false}, class:"footerbuttontext" %>　<!--パンフレット一覧に遷移-->
        <%= link_to "よくあるQ＆A", faqs_path, data: {"turbolinks" => false}, class:"footerbuttontext" %>　<!--よくあるQ＆Aに遷移-->
        <%= link_to "お問い合わせ", new_contact_path, data: {"turbolinks" => false}, class:"footerbuttontext" %>　<!--お問い合わせに遷移-->
  　　  </p>
　　</div>
