<div class="container">
  <div class="row">
    <div class="col-lg-7 offset-lg-2 mt-4" >
      <div class="aboutimage">
        <p class="abouttext">私たちはお客様の夢の実現に向けた </br>
        最初の一歩をお手伝いできる</br>
        出会いと喜びを大切にし続けます。
        </p>
      </div>
    </div>
  </div>
</div>

<%= render 'linkbuttom' %>
<%= render 'company' %>
