<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-1 mt-1" >
      <h1 class="toptext">＼　さあ、世界に飛び立つ準備をしよう！　／</h1>
      <div class="topimage"></div>
    </div>
  </div>
  <%= render 'linkbuttom' %>
  
</div>
<%= render 'company' %>