<div class="container">
  <div class="row">
    <div class="col-lg-7 offset-lg-2 mt-4" >

<ul>
  <% @country.each do |country| %>
    <li><%= country.country_name %>
      <ul>
        <% country.schools.each do |school| %>
          <li><%= school.school_name%></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>

    </div>
  </div>
</div>